
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.Body {
    background: #f7cac9;
    margin:0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    h1 {
      padding-top: 2em;
      margin: 0;
      color: black;
    }
    ul {
      align-self: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      max-width: fit-content;
      margin: auto;
      max-height: fit-content;
    }
    p {
      font-size: 2em;
      margin: .5em;
    }
}