@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.Body {
  background: #5F4B8B;
  margin:0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  h1 {
    padding-top: 2em;
    padding-bottom: .5em;
    margin: 0;
    color: White;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 3em
  }
  h2 {
    color: white;
    font-size: 2em;
    max-width: 60%;
    margin: auto;
    padding: .3em;
    padding-bottom: 1em;
    
  }
  span {
    font-size: 1.5em;
    font-weight: 900;
    display: inline;
    color: white;
    margin-right: .3em;
  }
  ul {
    text-align: center;
    margin: auto;
    padding: 0;
    list-style: none;
    max-width: 50%;
  }
  li {
    margin: auto;
    max-height: fit-content;
    margin-bottom: 2em;
    border-bottom: .1em black solid;
    border-right: .1em black solid;
  }
  p {
    font-size: 1.2em;
    margin: .5em;
    color: white;
  }
  Link {
    color: white;
  }

  button {
    width: max-content;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 1.7em;
    text-align: center;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    display: inline;
    cursor: pointer;
    margin: .5em;
  }

}